.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 20px;
}

.quantidade {
  text-align: center;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  border: solid 1px #cccccc;

  box-shadow: 1px 1px 1px #dfdfdf;
  padding-left: 15px;

  font-size: 16px;
  font-weight: 200;

  color: #515151;
}

.nota {
  text-align: center;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px #cccccc;

  box-shadow: 1px 1px 1px #dfdfdf;

  font-size: 16px;
  font-weight: 200;

  color: #515151;
}

.total {
  text-align: center;
  height: 35px;
  width: 130px;
  border-radius: 5px;
  border: solid 1px #cccccc;

  box-shadow: 1px 1px 1px #dfdfdf;

  font-size: 16px;
  font-weight: 200;
  color: #515151;
}
