/* Usado apenas para estilizar o Select-React, que leu apenas desta forma */

.custom__control {
  width: 400px;
  height: 38px;

  font-size: 16px;
  font-weight: 600;

  border-radius: 5px;
  border: solid 1px rgb(173, 173, 173);
  box-shadow: 1px 1px 1px #a8a8a8;
  padding-left: 5px;
}
.custom__option {
  font-size: 14px;
  font-weight: 200;
}

.custom__option--is-focused {
  background-color: orange;
}

.custom__option--is-selected {
  background-color: white;
  color: black;
}
